<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Transaction</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
    <h1>Transaction</h1>
       <table border="1" class="table table-striped table-responsive-md">
           <thead>
                <tr>
                    <th>Data</th>
                    <th>The amount</th>
                    <th>Message</th>
                    <th>Sender</th>
                    <th>Recipient</th>
                </tr>
           </thead>
            <tbody>
            <tr th:each="transaction:${listOfPayment}">
                <td th:text="${transaction.dateOfPayment}"></td>
                <td th:text="${transaction.transfer}"></td>
                <td th:text="${transaction.message}"></td>
                <td th:text="${transaction.sender.get(0).clientName}"></td>
                <td th:text="${transaction.recipient.get(0).clientName}"></td>

            </tr>
            </tbody>
       </table>
        <a th:href="@{/}">Back to List of Clients</a>
    </div>
</body>
</html>